<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch - Premium E-commerce</title>
    <link rel="stylesheet" href="/css/splash.css">
</head>
<body>
    <div class="main">
        <div class="content">
            <div class="logo">SCRATCH</div>
            <div class="line">Premium E-commerce Experience</div>
            <div class="loadbar">
                <div class="loadfill"></div>
            </div>
        </div>
    </div>

    <script >
        setTimeout(() => {
    window.location.href = '/login';
}, 2000);
    </script>
</body>
</html>